<div class="blog_form">
  <%= form_with(model:@blog, local:true, url:confirm_or_not) do |f| %>
    <% if @blog.errors.any? %>
      <% @blog.errors.full_messages.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>
    <p><%= f.text_area :content %></p>
    <p>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <%= f.hidden_field :image_cache %>
    </p>
    <p class="btn"><%= f.submit "投稿" %></p>
  <% end %>
</div>
