<div class="container_center">
  <p>以下の内容でよろしいですか？</p>
  <p><%= @blog.content %></p>
  <%= form_with(model:@blog,local:true) do |f| %>
    <%= f.hidden_field :content %>
    <% if @blog.image_url %>
      <p><%= image_tag(@blog.image.url) %></p>
    <% end %>
    <%= f.hidden_field :image_cache %>
    <ul class="buttons clearfix">
    <li class="btn"><%= f.submit "戻る", name: 'back' %><li>
    <li class="btn"><%= f.submit "送信" %></li>
    </ul>
  <% end %>
</div>
