<div class="container_center">
  <p>以下の内容でよろしいですか？</p>
  <p><%= @blog.content %></p>
  <%= form_with(model:@blog,local:true) do |f| %>
    <%= f.hidden_field :content %>
    <% if @blog.image_url %>
      <%= image_tag(@blog.image.url) %>
    <% end %>
    <%= f.hidden_field :image_cache %>
    <ul class="buttons clearfix">
    <li><button class="general_btn"><%= link_to "戻る", :back %></button><li>
    <li class="btn"><%= f.submit "送信" %></li>
    </ul>
  <% end %>
</div>
