<div class="container">
  <button class="general_btn"><%= link_to "戻る", :back %></button>
  <h1>詳細</h1>
  <p class="show_content"><%= @blog.content %></p>
  <p><%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %></p>
  <p class="show_username">投稿者：<%= @blog.user.name %></p>
  <p class="show_createdat">投稿日時：<%= @blog.created_at %></p>
  <ul class="under_menu clearfix">
    <% if current_user && current_user.id == @blog.user_id %>
      <li><%= link_to "編集", edit_blog_path(@blog.id) %></li>
      <li><%= link_to "削除", blog_path(@blog.id), data:{confirm: "本当に削除しますか？"}, method: :delete %></li>
    <% end %>
  </ul>
</div>
